@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.hero-slider {
  position: relative;
  width: 185%;
  height: 80vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  margin-right: 50%;
}

.slide-content {
  width: 50%;
  padding-right: 0.5%;
  z-index: 2;
  margin-right: 50%;
}

.slide-content h1 {
  color: #003366;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.slide-content p {
  font-family: "Merienda", cursive;
  font-size: 1rem;
  color: #003366;
  line-height: 1.5;
}

.slide-image {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider-control {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 10;
}

.control {
  background-color: #003366;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.control:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.pagination-dot {
  display: flex;
  gap: 0.5rem;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #003366;
}

.btn-cta {
  display: inline-block;
  padding: 0.8rem;
  background-color: #003366;
  border-radius: 10px;
  color: aliceblue;
  text-decoration: none;
}

.btn-cta:hover {
  color: #003366;
  background-color: aliceblue;
}

/* Responsive styles */
@media (max-width: 768px) {
  .slide {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
  }

  .slide-content {
    width: 100%;
    padding-right: 0;
    margin-bottom: 2rem;
  }

  .slide-image {
    width: 100%;
    height: 50%;
  }

  .slide-content h1 {
    font-size: 2rem;
  }

  .slide-content p {
    font-size: 1.2rem;
  }
}
