body {
  background-color: #fefcff;
}
.dashboard-container {
  display: flex;
  padding-top: -50%;
  flex-direction: row;
  gap: 90%;
}
.nav {
}

.stackcontent {
  margin-top: 50%;
  margin-left: 60%;
  justify-content: center;
}
