body {
  background-color: #fefcff;
}
.dashboard-container {
  display: flex;
  padding-top: -50%;
}

.main-content {
}
/*
.content-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}
 Card Stack Container 
.card-stack-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 400px;
  margin-left: 50%;
  padding-left: 200px;
  justify-content: flex-start;
}*/ /*
.payment-method-container {
  flex: 1; 
  max-width: 50%; 
  display: flex;
  justify-content: flex-end; 
  align-items: flex-start;
}*/
