@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  max-width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  background-color: #dedddf;
  padding: 2px;
  border-radius: 28px;
  max-width: 600px;
  width: 600px;
  min-height: 250px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
header {
  display: flex; /* Add flexbox to header */
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Space out logo and chip */
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}
h5 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

header .chip {
  width: 60px;
}
h6 {
  color: #fff;
  font-size: 8px;
  font-weight: 400;
}
h5,
h6 {
  color: #fff !important;
}
h5 .number {
  margin-top: 4px;
  font-size: 10px;
  letter-spacing: 1px;
}
.name-number {
  text-align: left;
}
.name-number .name {
  margin-top: 20px;
}
.container .card-details {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
